@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url("./styles/fonts.css");

* {
    margin: 0;
    padding: 0;
    font-family: "iransans", serif;
    color: var(--main-black);
    list-style: none;
}

/*----------------
    Variables
-----------------*/

:root {
    --primary-color: #ff7c31;
    --secondary-color: #18375f;
    --main-black: #222;
    --main-white: #ffffff;
    --main-light-red: rgb(255, 110, 110);
    --main-light-blue: rgb(132, 185, 255);
    --main-green: rgb(0, 138, 23);
    --main-gray: #afafaf;
    --body-bg-color: rgb(241, 241, 241);
    --main-transition: all 0.5s linear;
    --main-spacing: 0.1rem;
    --body-bg: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    --body-color: #0093E9;

}



body {
    min-height: 100vh;
    background: var(--body-bg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: .5em;
    margin-top: 1em;
    font-size: 2.5rem;
    font-family: "Ubuntu", "sans-serif";
    font-weight: bold;
    color: var(--main-white);
}

/*---------------
Todo input and add btn
----------------*/

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    z-index: 30;
    top: 15px;
}

form {
    width: 90%;
    height: 4em;
    background: var(--main-white);
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
}

.todo-input {
    font-size: 1.2rem;
    font-weight: bold;
    width: 80%;
    padding-left: 1em;
    color: var(--main-black);
}

form input,
form button {
    border: none;
    outline: none;
    background-color: var(--main-white);
}

.todo-add {
    font-size: 1.5rem;
    padding: .6em;
    transition: color .2s, background-color .2s;
}


.todo-add:hover,
.todo-add:active {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: color .2s, background-color .2s;
}

/*---------------
Todo list and todos
----------------*/

.todo-list {
    width: 90%;
    margin-bottom: 10em;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: .5em;
    padding: .5em 1em;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.todo li {
    flex: 1;
    font-weight: bold;
    color: var(--main-white);
    overflow: hidden;
    word-wrap: break-word;
}


.todo span {
    font-size: 1.4rem;
    padding: .3em;
}

.fa-trash-can {
    color: var(--main-light-red);
}

.fa-circle-check {
    color: var(--main-light-blue);
}

.completed {
    text-decoration: line-through;
    opacity: .5;
    transform: translateX(3px);
}

/*---------------
Filter todos style
----------------*/

select {
    display: absolute;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    text-align: center;
    appearance: none;
    outline: none;
    border: none;
    padding: 1.1em;
    border-radius: 50% 50% 0 0;
    font-weight: bold;
    width: 100%;
    font-weight: bolder;
    background-color: var(--primary-color);
    color: var(--main-white);
    overflow: hidden;
}

select option {
    background-color: var(--main-white);
    font-weight: bolder;
}

select:hover {
    cursor: pointer;
}

/*-----------
Media Queries
------------*/

@media only screen and (min-width: 768px) {

    .container {
        width: auto;
        align-items: flex-start;
    }

    header h1 {
        font-size: 3rem;
    }

    form {
        height: auto;
        width: 30em;
    }

    .todo-list {
        width: 30rem;
    }

    .todo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        margin: .5em 0;
        padding: .5em 1em;
        background: var(--secondary-color);
        transition: all 0.3s ease;
    }

    .todo li {
        flex: 1;
        font-weight: bold;
        color: var(--main-white);
    }


    .todoList {
        max-width: 30em;
    }

    .todo li {
        flex: 1;
        font-weight: bold;
        color: var(--main-white);
    }

    .form-container {
        flex-direction: row;
        width: auto;
    }

    select {
        border-radius: 15px;
        height: auto;
        padding: 0.87em;
        width: 12rem;
        margin-left: .5em;
        display: block;
        text-align: left;
        z-index: 0;
        position: relative;
        background-color: var(--main-white);
        color: var(--primary-color);
    }

    select:hover {
        cursor: pointer;
    }

    .select::after {
        content: "\25BC";
        position: absolute;
        top: 1px;
        right: 0;
        padding: .7em;
        color: var(--primary-color);
        pointer-events: none;
    }

    .todo span {
        font-size: 1.2rem;
    }

    .todo span:hover {
        cursor: pointer;
    }

    .todo-add {
        font-size: 1.2rem;
        padding: .7em;
    }

    .todo-input {
        font-size: 1rem;
        font-weight: bold;
        flex: 1;
        padding-left: 1em;
    }

}

@media only screen and (max-width: 768px) {
    header h1 {
        margin-top: 2em;
        font-size: 3rem;
    }

    .todo-input {
        font-size: 1.2rem;
    }

    select {
        font-size: 1.2rem;
        padding: 1em;
    }

    .todo {
        font-size: 1.2rem;
    }
}